* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f8ff;
  color: #333;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  gap: 20px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  font-weight: bold;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}

.profile-photo-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-right: 20px;
}

.profile-photo-card img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.profile-info-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  flex: 1;
}

.service-container,
.technology-container,
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.technology-card,
.service-card,
.project-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  text-align: center;
}

.project-card img {
  width: 100%;
  border-radius: 10px;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.contact-list li {
  margin-bottom: 10px;
}

footer {
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.watermark {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.5;
  font-size: 30px;
  color: black;
  pointer-events: auto;
}

/* Author: Willianson Dantas */
